@charset "utf-8";
/* CSS Document */

/**************************************************************
BASE
***************************************************************/
html {
	overflow-y: scroll;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
q:before, q:after {
	content: '';
}
object, embed {
	vertical-align: top;
}
legend {
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
img, abbr, acronym, fieldset {
	border: 0;
}
li {
	list-style-type: none;
}
p, dd, blockquote {
	/*text-align: justify;*/
	text-justify: inter-ideograph;
}
body {
	font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	color: #333;
	font-size: 80%;
	text-align:left;
	height:100%;
}
html>/**/body {

}
* + html body {
	font-family: "メイリオ", "Meiryo";
}

img {
    vertical-align: top;
}
/**************************************************************
LINK
***************************************************************/
a:link {
	color:#333;
}
a:visited {
	color:#333;
}
a:hover {
	text-decoration: none;
}
a:active {
	color:#333;
}

/**************************************************************
CLEARFIX
***************************************************************/

.clear:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clear {
	min-height: 1px;
}
* html .clear, * html .itemList, * html .itemList2 {
	height: 1px;/*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}
/* IE6 base font */
* html body {
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

